asgiref==3.5.0
astroid==2.9.3
autopep8==1.6.0
backports.zoneinfo==0.2.1
colorama==0.4.4
Django==4.0.1
django-countries==7.2.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
Pillow==9.0.0
platformdirs==2.5.1
pycodestyle==2.8.0
pylint==2.12.2
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
typing-extensions==4.1.1
tzdata==2021.5
wrapt==1.13.3
